In [125]:
import pandas as pd
import numpy as np
df = pd.read_csv('resources/dataset_test.csv', index_col=0)

In [126]:
df.dtypes

Hogwarts House                   float64
First Name                        object
Last Name                         object
Birthday                          object
Best Hand                         object
Arithmancy                       float64
Astronomy                        float64
Herbology                        float64
Defense Against the Dark Arts    float64
Divination                       float64
Muggle Studies                   float64
Ancient Runes                    float64
History of Magic                 float64
Transfiguration                  float64
Potions                          float64
Care of Magical Creatures        float64
Charms                           float64
Flying                           float64
dtype: object

In [131]:
import math

def count(f):
    n = 0
    for c in f:
        n += not math.isnan(c)
    return n

def mean(f):
    f = list(filter(lambda x: not math.isnan(x), f))
    if len(f) > 0:
        return sum(f) / count(f)
    return float('nan')

def std(f):
    f_mean = mean(f)
    return mean([(c - f_mean) ** 2 for c in f]) ** .5

In [133]:
columns = []
statistics = {'count':[],
              'mean': [],
              'std': [],
              'min': [],
              '25%': [],
              '50%': [],
              '75%': [],
              'max': []}
for c, d in zip(df.dtypes.index, df.dtypes):
    d = str(d)
    if d.startswith('int') or d.startswith("float"):
        columns.append(c)
        
        feature = df[c]
        statistics['count'].append(count(feature))
        feature = [c for c in feature if not math.isnan(c)]
        feature = sorted(feature)
        n = len(feature)
        
        if n > 0:
            f_min = feature[0]
            f_max = feature[-1]
            f_25 = feature[int(n * .25)]
            f_50 = feature[int(n * .5)]
            f_75 = feature[int(n * .75)]
        else:
            f_min = f_max = f_25 = f_50 = f_75 = float('nan')
        
        statistics['mean'].append(mean(feature))
        statistics['std'].append(std(feature))
        statistics['min'].append(f_min)
        statistics['25%'].append(f_25)
        statistics['50%'].append(f_50)
        statistics['75%'].append(f_75)
        statistics['max'].append(f_max)

pd.DataFrame(statistics, index=columns).T

,Hogwarts House,Arithmancy,Astronomy,Herbology,Defense Against the Dark Arts,Divination,Muggle Studies,Ancient Runes,History of Magic,Transfiguration,Potions,Care of Magical Creatures,Charms,Flying
count,0.0,387.000000,387.000000,389.000000,392.000000,394.000000,390.000000,392.000000,389.000000,389.000000,390.000000,392.000000,400.000000,400.000000
mean,NaN,50088.971576,48.155326,1.385517,-0.537843,3.411071,-220.169594,495.937543,2.829816,1030.885777,5.776860,0.022985,-243.181109,23.367450
std,NaN,15452.744803,511.875159,5.048793,5.112229,3.886250,497.030335,101.527670,4.311657,45.288575,3.213497,1.017705,8.716274,95.066887
min,NaN,4536.000000,-802.725180,-9.687662,-8.700635,-8.183000,-1041.323658,319.360250,-7.189090,906.932050,-1.162060,-2.871119,-259.866780,-143.520000
25%,NaN,40142.000000,-485.300284,-4.183731,-5.205897,3.527000,-580.802421,400.888868,2.227669,1028.499974,3.226146,-0.645976,-250.143180,-38.440000
50%,NaN,49238.000000,292.108738,3.630490,-2.910220,4.717000,-407.494571,486.508729,4.290164,1047.648405,5.733112,0.063305,-244.745460,-2.260000
75%,NaN,60182.000000,511.393084,5.405685,4.785424,5.573000,225.573185,591.524186,5.662488,1060.367924,8.137329,0.720617,-232.774610,45.850000
max,NaN,99744.000000,870.063498,9.678462,8.027252,8.604000,939.317135,667.674165,10.366995,1099.966073,13.390013,3.205525,-226.003820,282.430000

In [18]:
df.describe()

,Arithmancy,Astronomy,Herbology,Defense Against the Dark Arts,Divination,Muggle Studies,Ancient Runes,History of Magic,Transfiguration,Potions,Care of Magical Creatures,Charms,Flying
count,1566.000000,1568.000000,1567.000000,1569.000000,1561.000000,1565.000000,1565.000000,1557.000000,1566.000000,1570.000000,1560.000000,1600.000000,1600.000000
mean,49634.570243,39.797131,1.141020,-0.387863,3.153910,-224.589915,495.747970,2.963095,1030.096946,5.950373,-0.053427,-243.374409,21.958012
std,16679.806036,520.298268,5.219682,5.212794,4.155301,486.344840,106.285165,4.425775,44.125116,3.147854,0.971457,8.783640,97.631602
min,-24370.000000,-966.740546,-10.295663,-10.162119,-8.727000,-1086.496835,283.869609,-8.858993,906.627320,-4.697484,-3.313676,-261.048920,-181.470000
25%,38511.500000,-489.551387,-4.308182,-5.259095,3.099000,-577.580096,397.511047,2.218653,1026.209993,3.646785,-0.671606,-250.652600,-41.870000
50%,49013.500000,260.289446,3.469012,-2.589342,4.624000,-419.164294,463.918305,4.378176,1045.506996,5.874837,-0.044811,-244.867765,-2.515000
75%,60811.250000,524.771949,5.419183,4.904680,5.667000,254.994857,597.492230,5.825242,1058.436410,8.248173,0.589919,-232.552305,50.560000
max,104956.000000,1016.211940,11.612895,9.667405,10.032000,1092.388611,745.396220,11.889713,1098.958201,13.536762,3.056546,-225.428140,279.070000